:root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
    
}


* {

    font-family: 'Poppins', sans-serif;
}

.h-font {
    font-family: 'Merienda', cursive;

}

/* This code is for Chrome, safari, Edge and Opera - */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}

.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}


.custom-alert{
    position: fixed;
    top: 125px;
    right: 25px;
    transition-duration: 1s;
}

#dashboard-menu{
    position: fixed;
    height: 500%;
    z-index: 11;
}




@media screen and (max-width: 991px){
    #dashboard-menu{
        height: auto;
        width: 100%;
    } 
    #main-content{
        margin-top: 40px;
    }
    

}
